*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.*
*.coverprofile
profile.cov


go.work
go.work.sum

.env

build/

*.pyc
__pycache__/


.idea/
.vscode/
*.swp

.venv/
venv/
env/
ENV/

dist/
build/
*.egg-info/

pip-log.txt
pip-delete-this-line.txt

.DS_Store
Thumbs.db

.coverage
.tox/
htmlcov/

.ipynb_checkpoints/
